%tr
  %td #{bookmark_group.name}
  %td
    = link_to 'Редактировать', edit_bookmark_group_path(bookmark_group), class: 'btn btn-xs btn-warning'
    = link_to 'Удалить', bookmark_group_path(bookmark_group), method: :delete, class: 'btn btn-xs btn-danger',
              data: { confirm: "Удалить группу закладок #{bookmark_group.name}?" }
