.col-md-4.col-md-offset-4
  .text-center
    %h3 Данные о пользователе
.col-md-12
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th.col-md-4 Имя
    %tbody
      = render partial: 'table'