.row
  .col-md-4
    .pull_right
      = link_to 'Выйти', destroy_user_session_path, method: :delete
  .col-md-12
    %h1.page-header.text-center
      Добро пожаловать!
    .pull_left
      = link_to 'Новое хранилище', new_storage_path

