<h1>Правка хранилища</h1>

<%= render 'form' %>

<%= link_to 'Show', @storage %> |
<%= link_to 'Back', storages_path %>

<br>
<br>
<br>
<br>
<br>
<br>

<%= link_to "Выйти", destroy_user_session_path, method: :delete %>
