<h2>Войти</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :Пароль %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :Запомнить_меня %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Войти" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<div class="panel-heading">
  <h3 class="panel-title text-center">Log In</h3>
</div>
<div class="panel-body">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email' %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: 'Password' %>
      </div>

      <% if devise_mapping.rememberable? -%>
          <div class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label 'Remember me' %>
          </div>
      <% end -%>

      <div class="actions">
        <%= f.submit 'Sign in', class: 'btn btn-lg btn-success btn-block' %>
      </div>
  <% end %>
  <br>
  <%= render "devise/shared/links" %>
</div>
