<p>Здравстуйте, <%= @resource.email %>!</p>

<p>Ваша учетная запись была заблокирована из-за большого количества неудачных попыток авторизации.</p>

<p>Перейдите по ссылке ниже, что бы разсблокировать свою учетную запись:</p>

<p><%= link_to 'Разсблокировать свою учетную запись', unlock_url(@resource, unlock_token: @token) %></p>
