<p>Hello <%= @resource.email %>!</p>

<p>Кто-то запросил ссылку для смены пароля. Вы можете эсто сделать по ссылке ниже.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если Вы этого не делали, проигнорируйте это сообщение.</p>
<p>Ваш пароль не будет изменен, пока Вы не перейдете по ссылке выше и не создадите новый пароль.</p>
